body {
  font-family: sans-serif;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.6rem;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 2.2rem;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1.8rem;
}

.lead {
  font-size: 2rem;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 10px;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f1f1f1;
  color: #ffffff;
}

.container {
  display: grid;
  grid-template-columns: 7fr 5fr;
  margin: 2rem;
  width: 100%;
  max-width: 800px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15), 0 4px 6px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }
}
.container__image {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem;
}
@media screen and (max-width: 768px) {
  .container__image {
    display: none;
  }
}
.container__image img {
  width: 100%;
}
.container__form {
  background-color: #303f8e;
  padding: 5rem 2rem;
}
.container__form-heading {
  margin-bottom: 2rem;
}
.container__form-heading h1, .container__form-heading .lead {
  margin: 0;
}
.container__form-heading h1 {
  margin-bottom: 1rem;
}
.container__form form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.container__form form .form-control {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.container__form form .form-control label {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}
.container__form form .form-control input, .container__form form .form-control select {
  max-width: 100%;
  padding: 1rem 1.5rem;
  border-radius: 0.8rem;
  box-shadow: 0px 2px 0px 0px #f8b237;
  border: 1px solid #f8b237;
}
.container__form form .form-control input:focus, .container__form form .form-control select:focus {
  outline: none;
}
.container__form form button[type=submit] {
  background-color: #f4711d;
  font-size: 1.8rem;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 0.8rem;
  width: fit-content;
  padding: 1rem 4rem;
  transition: 300ms ease-in;
}
.container__form form button[type=submit]:hover {
  background-color: #f8b237;
  color: #000000;
}